body{
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 80px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px 15px;
    font-size: 30px;
    float: left;
    color: white;  
    font-family: 'Oswald', sans-serif;
}

.home{
    margin-left: -280px;
    margin-top: 13px;
    color: white;
}

.generos{
    margin-left: -185px;
    margin-top: 13px;
    color: white;
}

.favoritos{
    margin-left: -55px;
    margin-top: 13px;
    color: white;
}

.buscador{
    margin-left: -10px;
    margin-top: 13px;
    color: white;
    text-align: left;
    color: white;
    width: 200px;
    height: 16px;
}

.search{
    display: flex;
    justify-content: right;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 43px;

}
.logo{
    width: 16%;
    height: 16%;
    margin-left: -60%;
    margin-top: -2%;
}

.titulo{
    margin-left: 10px;
    margin-top: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.bloque1{
    display: flex;
}

.bloque2{
    display: flex;
    margin-top: 15px;
}

.bloque3{
    display: flex;
    margin-top: 15px;
}

.portada{       /* fotos de las pelis */
    width: 215px;
    height: 300px;
    margin-top: 20px;
    margin-left: 25px;
    
}

.bloque-portada{        /* cuadrado de las peliculas */
    width: 250px;
    height: 300px;
    margin-left: 30px;
}

.texto-portada{
    color: white;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}